@charset "utf-8";

/*
   6-5: Challenge: Manipulating the DOM
   
   Author: Aiden Eyre
   Date:   12 November 2020
   
   Filename: styles.css
   
   Keyword Styles for the Federalist Papers page

*/